@model archivesystemWebUI.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="content container-fluid">
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <!-- Page Header -->
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="page-title">Change Password</h3>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->
            @Html.Partial("_ChangePassword", Model)
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}