@{
	ViewBag.Title = "Forgot Password Confirmation";
	Layout = "../Shared/_AccountLayout.cshtml";

}

	

	<div class="account-content">
		@Html.ActionLink("Login", "Login", "Account", "", new { @class = "btn btn-primary apply-btn" })

		<div class="container">

			<!-- Account Logo -->
			<div class="account-logo">
				<a href="#"><img src="/Content/assets/img/logo2.png" alt="Archive System"></a>
			</div>
			<!-- /Account Logo -->

			<div class="account-box shadow">
				<div class="account-wrapper">
					<h3 class="account-title">@ViewBag.Title</h3>
					<br />
					<p class="account-subtitle">Please check your email to reset your password.</p>
					<hr />
</div>
</div>
</div>
</div>