@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "../Shared/_AccountLayout.cshtml";

}



<div class="account-content">
    <div class="container">

        <!-- Account Logo -->
        <div class="account-logo">
            <a href="#"><img src="/Content/assets/img/logo2.png" alt="Archive System"></a>
        </div>
        <!-- /Account Logo -->

        <div class="account-box shadow">
            <div class="account-wrapper">
                <h3 class="account-title">@ViewBag.Title</h3>
                <br />
                <p class="account-subtitle">Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
                <hr />
            </div>
        </div>
    </div>
</div>