@using archivesystemWebUI.Models;
@using archivesystemDomain.Services;
@{
    ViewBag.Title = "Home Page";
}
   

    <!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="row">
        <div class="col-md-12">
            <div class="welcome-box">
                <div class="welcome-img">
                    <img alt="" src="/Content/assets/img/profiles/avatar-02.jpg">
                </div>
                <div class="welcome-det">
                    <h3>Welcome, @User.Identity.Name</h3>
                    <p>@DateTime.Now.ToString("D")</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
    @if (TempData[GlobalConstants.userHasNoAccesscode] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error!</strong> You are restricted from viewing archived documents.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

   @Html.Partial("_DashboardCards")
   @Html.Partial("_DashboardTables")

  

</div>
    <!-- /Page Content -->