@using archivesystemWebUI.Models
@model EditRoleViewModel
@{
    ViewBag.Title = "Edit UserRole";
}


    <!-- Page Content -->
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title" style="display:flex; justify-content: start;">New UserRole</h3>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("Update", "Roles", FormMethod.Post))
                {
                    @Html.ValidationSummary();
                    @Html.Hidden("OldName",Model.OldName)
                    <div class="form-group">
                        <p>Role Old Name: @Model.OldName</p>
                        <input name="NewName" style="width: 70%; display:flex; justify-content: start; " class="form-control" rows="2" placeholder="Enter New UserRole Name" />
                    </div>
                    <div class="submit-section">
                        <button style=" display:flex; justify-content: start;" class="btn btn-primary submit-btn" type="submit"> Update</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- /Page Content -->

