
@{
    ViewBag.Title = "TicketTypes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Ticket Types</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Ticket Types</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a href="#" class="btn add-btn ticket-Addbtn" data-toggle="modal" data-target="@Url.Action("TicketTypeModal")"><i class="fa fa-plus"></i> Add Ticket Type</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table datatable mb-0" id="tickets">
                    <thead>
                        <tr>
                            <th>Ticket</th>
                            <th> Designation</th>
                            <th> WorkFlow</th>
                            <th>Status</th>
                            <th>Created</th>
                            <th>Modified</th>
                            <th class="text-right no-sort">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Ticket Modal -->
<div id="ticketModal" class="modal custom-modal fade" role="dialog">
    
</div>
<!-- /Ticket Modal -->


@section scripts
{
    <script>
        $(document).ready(function () {

            var table = $("#tickets").DataTable({
                responsive: true,
                autoWidth: false,
                "bFilter": true,
                language: {
                    search: "",
                    searchPlaceholder: "Search",
                    sLengthMenu: "_MENU_items"
                },

                ajax: {
                    url: "/api/tickets",
                    dataSrc: ''
                },
                columns: [
                    {
                        data: "name"

                    },
                    { data: "designation" },
                    { data: "workFlow" },
                    {
                        data: "status",
                        render: function(data, type, ticket) {
                            if (data === "Active") {
                                return '<i class="fa fa-dot-circle-o text-success"></i>' + data;
                            } else {
                                return '<i class="fa fa-dot-circle-o text-danger"></i>' + data;
                            }
                        }
                    },

                    {
                        data: "createdAt"
                    },
                    {
                        data: "updatedAt"
                    },
                    {
                        data: "id",
                        render: function (data, type, ticket) {
                            return '<div class="dropdown dropdown-action">' +
                                '<a class="btn btn-primary dropdown-toggle ticket-Editbtn" href="#" data-toggle="modal" data-target="/settings/editticket/'+ data +'" aria-expanded="false"><i class="fa fa-pencil m-r-5"></i> Edit</a>' +
                                '</div>';
                        }
                    }

                ]
            });

            $(".ticket-Addbtn").on("click",
                function(e) {
                    debugger;
                    e.preventDefault();
                    var addButton = $(this);
                    $("#ticketModal").remove;
                    $.get(addButton.data("target")).done(
                        function(data) {

                            $("#ticketModal").html(data);

                            $("#ticketModal").modal("show");
                            $.validator.unobtrusive.parse("#ticketForm");

                            if ($('#ticketModal .select').length > 0) {
                                $('#ticketModal .select').select2({
                                    minimumResultsForSearch: -1,
                                    width: '100%'
                                });

                            }
                        });


                });
      

            $("#tickets").on("click", ".ticket-Editbtn",
            function(e) {
                debugger;
                e.preventDefault();
                var addButton = $(this);
                $("#ticketModal").remove;
                $.get(addButton.data("target")).done(
                    function(data) {

                        $("#ticketModal").html(data);

                        $("#ticketModal").modal("show");
                        $.validator.unobtrusive.parse("#ticketForm");

                        if ($('#ticketModal .select').length > 0) {
                            $('#ticketModal .select').select2({
                                minimumResultsForSearch: -1,
                                width: '100%'
                            });

                        }
                    });


            });
    });
    </script>
}
