@using System.Web.Mvc.Html
@model  IEnumerable<archivesystemWebUI.Models.FolderModels.FolderFilesViewModel>


<div class="row row-sm" id="filesContainer">

    @if (Model != null)
    {
        foreach (var file in Model)
        {
            @Html.Partial("_File", file);

        }
    }


</div>
