@model IEnumerable<archivesystemDomain.Entities.ApplicationReceiver>

@foreach (var receiver in Model.Where(r => r.Forwarded==true))
{
    <li>
        <a href="">
            <div class="list-item">
               
                <div class="list-body">
                    <span class="message-author">@receiver.Receiver.Name</span>
                    <div class="clearfix"></div>
                 
                    <hr />
                </div>
            </div>
        </a>
    </li>
}

