
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Applications</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Applications</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a href="#" class="btn add-btn app-addBtn" data-toggle="modal" data-target="@Url.Action("New")"><i class="fa fa-plus"></i> New Request </a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
   

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table datatable" id="applications">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>RefNo</th>
                            <th>Type</th>
                            <th>Submitted To</th>
                            <th>Status</th>
                            <th>Approval</th>
                            <th>Sent At</th>
                        </tr>
                    </thead>
                    <tbody>
                      
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->
<!-- Create Project Modal -->
<div id="new_request" class="modal custom-modal fade" role="dialog">
   
</div>
<!-- /Create Project Modal -->

@section scripts
{

    <script>


        var table = $("#applications").DataTable({
            responsive: true,
            autoWidth: false,
            "bFilter": true,
            language: {
                search: "",
                searchPlaceholder: "Search",
                sLengthMenu: "_MENU_items"
            },

            ajax: {
                url: "/api/myapplications",
                dataSrc: ''
            },
            columns: [
                {
                    data: "id",
                    render: function(data, type, application) {

                        return '<a href="/applications/details/' + data + '">' + application.title + '</a>';
                    }

                },
                {
                    data: "refNo",
                    render: function(data, type, application) {

                        return '<span class="badge bg-inverse-info">' + data + '</span>';
                    }

                },
                {
                    data: "type",
                    render: function(data, type, application) {

                        return '<span class="badge bg-inverse-primary">' + data + '</span>';
                    }
                },
                {
                    data: "receiver"
                },
                {
                    data: "status",
                    render: function(data, type, application) {

                        if (data === "Pending") {
                            return '<i class="fa fa-dot-circle-o text-warning"></i>' + data;
                        } else if (data === "Opened") {
                            return '<i class="fa fa-dot-circle-o text-info"></i>' + data;
                        } else if (data === "Closed") {
                            return '<i class="fa fa-dot-circle-o text-success"></i>' + data;
                        } else if (data === "In Progress") {
                            return '<i class="fa fa-dot-circle-o text-info"></i>' + data;
                        } else if (data === "Rejected") {
                            return '<i class="fa fa-dot-circle-o text-danger"></i>' + data;
                        }
                        return "";
                    }
                },
                {
                    data: "approval",
                    render: function(data, type, application) {
                        if (data === "Approved") {
                            return '<span class="badge bg-inverse-success">' + data + '</span>';
                        } else if (data === "Declined") {
                            return '<span class="badge bg-inverse-danger">' + data + '</span>';
                        }
                        return '<span class="badge bg-inverse-info">' + data + '</span>';

                    }
                },
                {
                    data: "submissionDate"
                }
            ]
        });

        $(document).ready(function() {

            $(".app-addBtn").on("click",
                function(e) {
                    debugger;
                    e.preventDefault();
                    var addButton = $(this);
                    $("#new_request").remove;
                    $.get(addButton.data("target")).done(
                        function(data) {

                            $("#new_request").html(data);

                            $("#new_request").modal("show");

                            $.validator.unobtrusive.parse("#appForm");
                            if ($('#new_request .select').length > 0) {
                                $('#new_request .select').select2({
                                    minimumResultsForSearch: -1,
                                    width: '100%'
                                });

                            }


                        });

                });
        });

    </script>
}
