
@{
    ViewBag.Title = "Signed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">@ViewBag.Title Application</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">Dashboard</a></li>
                    <li class="breadcrumb-item active">@ViewBag.Title Applications</li>
                </ul>
            </div>

        </div>
    </div>
    <!-- /Page Header -->


    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table datatable" id="toSign">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>RefNo</th>
                            <th>Type</th>
                            <th>Sent At</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->
@section scripts
{

    <script>


        var table = $("#toSign").DataTable({
            responsive: true,
            autoWidth: false,
            "bFilter": true,
            language: {
                search: "",
                searchPlaceholder: "Search",
                sLengthMenu: "_MENU_items"
            },

            ajax: {
                url: "/api/applicationstosign?signed=true",
                dataSrc: ''
            },
            columns: [
                {
                    data: "id",
                    render: function(data, type, app) {

                        return '<a href="/applications/details/' + data + '">' + app.title + '</a>';
                    }

                },
                {
                    data: "refNo",
                    render: function(data, type, application) {

                        return '<span class="badge bg-inverse-info">' + data + '</span>';
                    }

                },
                {
                    data: "type",
                    render: function(data, type, application) {

                        return '<span class="badge bg-inverse-primary">' + data + '</span>';
                    }
                },


                {
                    data: "approval",
                    render: function(data, type, application) {

                        return '<span class="badge bg-inverse-info">' + data.Date + '</span>';
                    }
                }
            ]
        });



    </script>
}
