
/*file manager page custom styles*/
.validation-summary-errors{
    color:red;
}

#folder-thead th{
    border:none;
}

.folderlist-folder:hover ,.file-menu li a:hover {
    background-color: #edeeef;
}
.fa-file-import:hover {
    cursor: pointer;
}

#focused-folder a {
    color: #20c997;
}

.subfolder-child{
    margin-left:1em
}
/*custom alert message popup styles*/
#alertMessageBox {
    opacity: 0;
    transition: opacity 2s;
    position: fixed;
    top: 65px;
    right: 10px;
    z-index: 100000;
    border-radius: 5px;
    padding: 1.5em 2.5em;
}

#alertMessageBox.showMessage {
    opacity: 1;
    transition: opacity 1s;
}

#alertMessageBox.task-success {
    background-image: linear-gradient(to right, #007bff,#6f42c1);
    color: white;
}

#alertMessageBox.task-failure {
    background-image: linear-gradient(to right, #e83e8c,#dc3545);
    color: white;
}


/*Enter access code modal styles*/
#AIM-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(225, 225, 225, 0.5);
    -pie-background: rgba(0, 0, 0, 0.8);
    z-index: 100;
}

#EAC-con {
    background-color: white;
    color: black;
    z-index: 1000000;
    margin: auto;
    position: fixed;
    top: 30%;
    width: 90%;
    left:5%;
    padding: 1em 2em;
    border-radius: 10px;
}

#EAC-con h2{
    text-align:center;
}

@media only screen and (min-width:700px){
    #EAC-con {
        left: 30%;
        width: 50%;
        padding: 2em 4em;
        border-radius: 10px;
    }
}